<%= search_form_for @q, :class => collapse_search_form, :id => "people_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :family_name_cont, "Family name contains" %>
    <%= f.text_field :family_name_cont, :class => "form-control", :placeholder => "Family name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :address_id, "Address" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :address_id_gteq, :class => "form-control", :placeholder => "Address greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :address_id_lteq, :class => "form-control", :placeholder => "Address less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :website_cont, "Website contains" %>
    <%= f.text_field :website_cont, :class => "form-control", :placeholder => "Website contains" %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number2_cont, "Phone number2 contains" %>
    <%= f.text_field :phone_number2_cont, :class => "form-control", :placeholder => "Phone number2 contains" %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number1_cont, "Phone number1 contains" %>
    <%= f.text_field :phone_number1_cont, :class => "form-control", :placeholder => "Phone number1 contains" %>
  </div>

  <div class="form-group">
    <%= f.label :birth_date, "Birth date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='birth_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :birth_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Birth date greater than or equal to", :data => {:target => '#birth_dategteqPicker'} %>
          <div class="input-group-append" data-target='#birth_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='birth_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :birth_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Birth date less than or equal to", :data => {:target => '#birth_datelteqPicker'} %>
          <div class="input-group-append" data-target='#birth_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#birth_dategteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#birth_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#birth_dategteqPicker').on("dp.change", function (e) {
              $('#birth_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#birth_datelteqPicker').on("dp.change", function (e) {
              $('#birth_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :gender_eq, "Gender" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :gender_eq, "1", checked: ((params[:q] && params[:q][:gender_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :gender_eq, "0", checked: ((params[:q] && params[:q][:gender_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :gender_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :first_name_cont, "First name contains" %>
    <%= f.text_field :first_name_cont, :class => "form-control", :placeholder => "First name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>




  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/people" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#people_filters">
  Show filters
</a>
