<%= search_form_for @q, :class => collapse_search_form, :id => "addresses_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :latitude, "Latitude" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :latitude_gteq, :class => "form-control", :placeholder => "Latitude greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :latitude_lteq, :class => "form-control", :placeholder => "Latitude less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :has_ev_parking_places_eq, "Has ev parking places" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :has_ev_parking_places_eq, "1", checked: ((params[:q] && params[:q][:has_ev_parking_places_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :has_ev_parking_places_eq, "0", checked: ((params[:q] && params[:q][:has_ev_parking_places_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :has_ev_parking_places_eq, ""%> Either
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :state_or_province_cont, "State or province contains" %>
    <%= f.text_field :state_or_province_cont, :class => "form-control", :placeholder => "State or province contains" %>
  </div>

  <div class="form-group">
    <%= f.label :post_code, "Post code" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :post_code_gteq, :class => "form-control", :placeholder => "Post code greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :post_code_lteq, :class => "form-control", :placeholder => "Post code less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :town_cont, "Town contains" %>
    <%= f.text_field :town_cont, :class => "form-control", :placeholder => "Town contains" %>
  </div>

  <div class="form-group">
    <%= f.label :address_line2_cont, "Address line2 contains" %>
    <%= f.text_field :address_line2_cont, :class => "form-control", :placeholder => "Address line2 contains" %>
  </div>

  <div class="form-group">
    <%= f.label :address_line1_cont, "Address line1 contains" %>
    <%= f.text_field :address_line1_cont, :class => "form-control", :placeholder => "Address line1 contains" %>
  </div>

  <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :longitude, "Longitude" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :longitude_gteq, :class => "form-control", :placeholder => "Longitude greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :longitude_lteq, :class => "form-control", :placeholder => "Longitude less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :country_name_cont, "Country name contains" %>
    <%= f.text_field :country_name_cont, :class => "form-control", :placeholder => "Country name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/addresses" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#addresses_filters">
  Show filters
</a>
