<h1>
  Edit country #<%= @country.id %>
</h1>

<hr>

<form action="/update_country/<%= @country.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @country.name %>">
  </div>

  <div class="form-group">
    <label for="isocode">
      Isocode
    </label>

    <input type="text" id="isocode" name="isocode" class="form-control" value="<%= @country.isocode %>">
  </div>

  <div class="form-group">
    <label for="continent_code">
      Continent code
    </label>

    <input type="text" id="continent_code" name="continent_code" class="form-control" value="<%= @country.continent_code %>">
  </div>

  <div class="form-group">
    <label for="flag_image">
      Flag image
    </label>

    <%= cl_image_tag(@country.flag_image.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="flag_image" name="flag_image" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update country
  </button>
</form>

<hr>

<a href="/countries">
  Go back
</a>
