<!-- Validation failure messages -->
<% if @country.present? %>
  <% if @country.errors.any? %>
    <% @country.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new country
</h1>


<hr>

<!-- Form country start -->
<form action="/create_country" method="post">
<!-- Form country end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @country.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for isocode start -->
  <div class="form-group">
    <label for="isocode">
      Isocode
    </label>

    <!-- Input for isocode start -->
    <input type="text" id="isocode" name="isocode" class="form-control" value="<%= @country.isocode %>">
    <!-- Input for isocode end -->
  </div>
  <!-- Label and input for isocode end -->

  <!-- Label and input for continent_code start -->
  <div class="form-group">
    <label for="continent_code">
      Continent code
    </label>

    <!-- Input for continent_code start -->
    <input type="text" id="continent_code" name="continent_code" class="form-control" value="<%= @country.continent_code %>">
    <!-- Input for continent_code end -->
  </div>
  <!-- Label and input for continent_code end -->

  <!-- Label and input for flag_image start -->
  <div class="form-group">
    <label for="flag_image">
      Flag image
    </label>

    <!-- Input for flag_image start -->
    <input type="text" id="flag_image" name="flag_image" class="form-control" value="<%= @country.flag_image %>">
    <!-- Input for flag_image end -->
  </div>
  <!-- Label and input for flag_image end -->

  <button class="btn btn-block btn-outline-secondary">
    Create country
  </button>
</form>

<hr>

<a href="/countries">
  Go back
</a>
